name: Run Pinact

on:
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - '.github/workflows/**'
      - '.github/actions/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-pinact
  cancel-in-progress: true

permissions:
  contents: write
  pull-requests: write

jobs:
  pinact:
    name: pinact
    runs-on: ubuntu-latest
    timeout-minutes: 3

    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: Pin actions
        uses: suzuki-shunsuke/pinact-action@49cbd6acd0dbab6a6be2585d1dbdaa43b4410133 # v1.0.0
        with:
          app_id: ${{ vars.BOT_APP_ID }}
          app_private_key: ${{ secrets.BOT_APP_PRIVATE_KEY }}
