name: Run Pinact

on:
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - '.github/workflows/**'
      - '.github/actions/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-pinact
  cancel-in-progress: true

permissions:
  contents: write
  pull-requests: write

jobs:
  pinact:
    name: pinact
    runs-on: ubuntu-latest
    timeout-minutes: 3

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Pin actions
        uses: suzuki-shunsuke/pinact-action@1081f5ad49ac904b7d977784f338145150a32112 # v1.4.0
        with:
          app_id: ${{ vars.BOT_APP_ID }}
          app_private_key: ${{ secrets.BOT_APP_PRIVATE_KEY }}
